<div class="container">

  <h1>Stupid Coach is hearing you</h1>

  <p>Ask your coach anything:</p>
  <form action="/answer" method="get" class="form">
    <input type="text" name="question" placeholder="What is your question?" id="text-input">
    <input type="submit" value="Ask!" id="submit">
  </form>
</div>
